# Visual Studio files
*.opensdf
*.sdf
*.suo
*.sln
/*.db
/*.opendb
/.vs

# dirs
Binaries
Build
Config
Content*
DerivedDataCache
Mods
Intermediate
Saved
Saves
/Source/Polygon4/Generated

# ThirdParty
ThirdParty

# project
*.uproject
*.lnk
*.bat
*.sh
