# Visual Studio files
*.opensdf
*.sdf
*.suo
*.sln
/*.db
/*.opendb

# dirs
Binaries
Build
Config
Content
DerivedDataCache
Mods
Intermediate
Saved

# ThirdParty
ThirdParty

# project
*.uproject
*.lnk
*.bat
